################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/calculator/v15/Server/sqlite3
/calculator/bin/Debug/netcoreapp2.0
/calculator/obj/Debug/netcoreapp2.0
/calculator/obj
